[*.{kt,kts}]
indent_size = 4
ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
# Allow Composable function names to follow PascalCase (standard in Compose)
ktlint_standard_function-naming = disabled
